[submodule "frontend"]
	path = frontend
	url = git@github.com:tuanhuu162/frontend.git
	branch = master
[submodule "backend"]
	path = backend
	url = git@github.com:tuanhuu162/backend.git
	branch = main