[submodule "frontend"]
	path = frontend
	url = https://github.com/tuanhuu162/frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/tuanhuu162/backend.git
	branch = main